<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <title>
        curso VueJs
    </title>
</head>

<body>
    <div id="app">
        
        <form @submit.prevent="submit" action="" method="GET"> 
            <h2>¿Cuales son tus favoritos?</h2>

            <template v-for="curso in cursos">
                <curso :curso="curso" :cursosSelecionados="cursos-selecionados">
                    
                </curso>
            </template>
            <button type="submit">Enviar</button>

        </form>
    </div>
    <script src="./Curso Vue.js_files/vue"></script>
    <script type="text/javascript">
     vue.component('curso',{
        props: ['curso','cursosSelecionados'],
        template: `
        <div>
            <input v-model="cursosSelecionados" type="checkbox" v-bind:id="curso.value" v-bind:value="curso.value">
            <label v-bind:for="curso.value">{{curso.nombre}}</label>
        </div> 
        `
    })
        let app = new Vue({
            el: '#app',
            data: {
                cursos:[
                    {   nombre: 'curso de Vue.js',
                        value:'vue'  },
                    {   nombre:'curso de seo',
                        value:'seo'  },
                    {    nombre:'curso de react',
                        value:'react' },
                    {   nombre:'curso de redux',
                        value:'redux' },
                ],
                cursosSelecionados: []
            },
            methods: {
                submit: function(){
                    console.log('Se ejecuta metodo submit')
                    console.log(this.cursosSelecionados)
                }
            }
        })
    </script>
</body>

</html>